# Introduction

This notebook involves the analysis of a time-series data consisting entries recording when a user from some country visits a certain website at a certain time.

__Answers for each question are given as the final code block in each section.__

In [1]:
import pandas as pd

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Introduction" data-toc-modified-id="Introduction-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Introduction</a></span></li><li><span><a href="#Dataset" data-toc-modified-id="Dataset-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Dataset</a></span><ul class="toc-item"><li><span><a href="#Load-Data" data-toc-modified-id="Load-Data-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Load Data</a></span></li><li><span><a href="#Quick-Inspection" data-toc-modified-id="Quick-Inspection-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Quick Inspection</a></span></li></ul></li><li><span><a href="#Questions" data-toc-modified-id="Questions-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Questions</a></span><ul class="toc-item"><li><span><a href="#Consider-only-the-rows-with-country_id-=-&quot;BDV&quot;-(there-are-844-such-rows).-For-each-site_id,-we-can-compute-the-number-of-unique-user_id's-found-in-these-844-rows.-Which-site_id-has-the-largest-number-of-unique-users?-And-what's-the-number?" data-toc-modified-id="Consider-only-the-rows-with-country_id-=-&quot;BDV&quot;-(there-are-844-such-rows).-For-each-site_id,-we-can-compute-the-number-of-unique-user_id's-found-in-these-844-rows.-Which-site_id-has-the-largest-number-of-unique-users?-And-what's-the-number?-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Consider only the rows with country_id = "BDV" (there are 844 such rows). For each site_id, we can compute the number of unique user_id's found in these 844 rows. Which site_id has the largest number of unique users? And what's the number?</a></span></li><li><span><a href="#Between-2019-02-03-00:00:00-and-2019-02-04-23:59:59,-there-are-four-users-who-visited-a-certain-site-more-than-10-times.-Find-these-four-users-&amp;-which-sites-they-(each)-visited-more-than-10-times.-(Simply-provides-four-triples-in-the-form-(user_id,-site_id,-number-of-visits)-in-the-box-below.)" data-toc-modified-id="Between-2019-02-03-00:00:00-and-2019-02-04-23:59:59,-there-are-four-users-who-visited-a-certain-site-more-than-10-times.-Find-these-four-users-&amp;-which-sites-they-(each)-visited-more-than-10-times.-(Simply-provides-four-triples-in-the-form-(user_id,-site_id,-number-of-visits)-in-the-box-below.)-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Between 2019-02-03 00:00:00 and 2019-02-04 23:59:59, there are four users who visited a certain site more than 10 times. Find these four users &amp; which sites they (each) visited more than 10 times. (Simply provides four triples in the form (user_id, site_id, number of visits) in the box below.)</a></span></li><li><span><a href="#For-each-site,-compute-the-unique-number-of-users-whose-last-visit-(found-in-the-original-data-set)-was-to-that-site.-For-instance,-user-&quot;LC3561&quot;'s-last-visit-is-to-&quot;N0OTG&quot;-based-on-timestamp-data.-Based-on-this-measure,-what-are-top-three-sites?-(hint:-site-&quot;3POLC&quot;-is-ranked-at-5th-with-28-users-whose-last-visit-in-the-data-set-was-to-3POLC;-simply-provide-three-pairs-in-the-form-(site_id,-number-of-users).)" data-toc-modified-id="For-each-site,-compute-the-unique-number-of-users-whose-last-visit-(found-in-the-original-data-set)-was-to-that-site.-For-instance,-user-&quot;LC3561&quot;'s-last-visit-is-to-&quot;N0OTG&quot;-based-on-timestamp-data.-Based-on-this-measure,-what-are-top-three-sites?-(hint:-site-&quot;3POLC&quot;-is-ranked-at-5th-with-28-users-whose-last-visit-in-the-data-set-was-to-3POLC;-simply-provide-three-pairs-in-the-form-(site_id,-number-of-users).)-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>For each site, compute the unique number of users whose last visit (found in the original data set) was to that site. For instance, user "LC3561"'s last visit is to "N0OTG" based on timestamp data. Based on this measure, what are top three sites? (hint: site "3POLC" is ranked at 5th with 28 users whose last visit in the data set was to 3POLC; simply provide three pairs in the form (site_id, number of users).)</a></span></li><li><span><a href="#For-each-user,-determine-the-first-site-he/she-visited-and-the-last-site-he/she-visited-based-on-the-timestamp-data.-Compute-the-number-of-users-whose-first/last-visits-are-to-the-same-website.-What-is-the-number?" data-toc-modified-id="For-each-user,-determine-the-first-site-he/she-visited-and-the-last-site-he/she-visited-based-on-the-timestamp-data.-Compute-the-number-of-users-whose-first/last-visits-are-to-the-same-website.-What-is-the-number?-3.4"><span class="toc-item-num">3.4&nbsp;&nbsp;</span>For each user, determine the first site he/she visited and the last site he/she visited based on the timestamp data. Compute the number of users whose first/last visits are to the same website. What is the number?</a></span></li></ul></li></ul></div>

# Dataset

## Load Data

In [2]:
raw_data = pd.read_csv('./data/Adops & Data Scientist Sample Data - Q1 Analytics.csv')

## Quick Inspection

In [3]:
raw_data.head()

                    ts user_id country_id site_id
0  2019-02-01 00:01:24  LC36FC        TL6   N0OTG
1  2019-02-01 00:10:19  LC39B6        TL6   N0OTG
2  2019-02-01 00:21:50  LC3500        TL6   N0OTG
3  2019-02-01 00:22:50  LC374F        TL6   N0OTG
4  2019-02-01 00:23:44  LCC1C3        TL6   QGO3G

In [4]:
raw_data.describe()

                         ts user_id country_id site_id
count                  3553    3553       3553    3553
unique                 3538    1916          7       8
top     2019-02-03 20:00:34  LC3A59        TL6   5NPAU
freq                      3     149       1449    1614

In [5]:
df = raw_data

# Questions

## Consider only the rows with country_id = "BDV" (there are 844 such rows). For each site_id, we can compute the number of unique user_id's found in these 844 rows. Which site_id has the largest number of unique users? And what's the number?

In [6]:
df[df['country_id'] == 'BDV'].groupby('site_id')['user_id'].nunique().sort_values(ascending=False).head(1)

site_id
5NPAU    544
Name: user_id, dtype: int64

## Between 2019-02-03 00:00:00 and 2019-02-04 23:59:59, there are four users who visited a certain site more than 10 times. Find these four users & which sites they (each) visited more than 10 times. (Simply provides four triples in the form (user_id, site_id, number of visits) in the box below.)

In [7]:
df['ts'] = df['ts'].apply(pd.to_datetime)

In [8]:
start_time = pd.to_datetime('2019-02-03 00:00:00')
end_time = pd.to_datetime('2019-02-04 23:59:59')

In [9]:
# Filter entries between dates
df_between_dates = df[(df['ts'] > start_time) & (df['ts'] < end_time)]

In [10]:
# Find 4 users who visted a certain site more than 10 times 
df_between_dates.groupby('user_id')['site_id'].value_counts().sort_values(ascending=False).head(4)

user_id  site_id
LC3A59   N0OTG      26
LC06C3   N0OTG      25
LC3C9D   N0OTG      17
LC3C7E   3POLC      15
Name: site_id, dtype: int64

## For each site, compute the unique number of users whose last visit (found in the original data set) was to that site. For instance, user "LC3561"'s last visit is to "N0OTG" based on timestamp data. Based on this measure, what are top three sites? (hint: site "3POLC" is ranked at 5th with 28 users whose last visit in the data set was to 3POLC; simply provide three pairs in the form (site_id, number of users).)

In [11]:
# Get users and timestamps, for each user's last entry in the dataset
users_last_visit = df.groupby('user_id', as_index=False)['ts'].max()

In [12]:
# Merge last visits with the original dataset
users_last_visited_sites = pd.merge(users_last_visit, df)

In [13]:
# Return top 3 sites
users_last_visited_sites['site_id'].value_counts().head(3)

5NPAU    992
N0OTG    561
QGO3G    289
Name: site_id, dtype: int64

## For each user, determine the first site he/she visited and the last site he/she visited based on the timestamp data. Compute the number of users whose first/last visits are to the same website. What is the number?

In [14]:
# Get users and timestamps, for each user's first entry in the dataset
users_first_visit = df.groupby('user_id', as_index=False)['ts'].min()

In [15]:
# Merge last visits with the original dataset
users_first_visited_sites = pd.merge(users_first_visit, df)

In [16]:
# Double check that the user_ids in the dataframes are aligned
assert users_first_visited_sites['user_id'].equals(users_last_visited_sites['user_id'])

In [17]:
# Compute the sum total number of users whose first/last visits are to the same website
(users_first_visited_sites['site_id'] == users_last_visited_sites['site_id']).sum()

1670